{
  "arrowParens": "avoid",
  "singleQuote": true,
  "semi": true,
  "svelteSortOrder": "scripts-markup-styles-options",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
